# Cleaning

In [ ]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv('car.data',encoding = 'utf-8',header = None)

In [100]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [101]:
df.rename(columns = {0:'buying',1:'maint',2:'doors',3:'persons',4:'lug_boot',5:'safety',6:'class'},inplace = True)

In [102]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [103]:
X = df.loc[:,'maint':'class']
X

      maint  doors persons lug_boot safety  class
0     vhigh      2       2    small    low  unacc
1     vhigh      2       2    small    med  unacc
2     vhigh      2       2    small   high  unacc
3     vhigh      2       2      med    low  unacc
4     vhigh      2       2      med    med  unacc
...     ...    ...     ...      ...    ...    ...
1723    low  5more    more      med    med   good
1724    low  5more    more      med   high  vgood
1725    low  5more    more      big    low  unacc
1726    low  5more    more      big    med   good
1727    low  5more    more      big   high  vgood

[1728 rows x 6 columns]

In [104]:
y = df.loc[:,'buying']
y

0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1723      low
1724      low
1725      low
1726      low
1727      low
Name: buying, Length: 1728, dtype: object

In [105]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [106]:
enc_dict = {'low':0.0,
            'med':1.0,
            'high':2.0,
           'vhigh':3.0}

y = y.map(enc_dict)

In [107]:
y

0       3.0
1       3.0
2       3.0
3       3.0
4       3.0
       ...
1723    0.0
1724    0.0
1725    0.0
1726    0.0
1727    0.0
Name: buying, Length: 1728, dtype: float64

In [108]:
X = X.loc[:, X.columns != 'persons']

In [109]:
ordinal_encoder = OrdinalEncoder(categories = [['low','med', 'high', 'vhigh'],['2','3','4','5more'],['small','med','big'],['low','med','high'],['unacc','acc','good','vgood']])

X = ordinal_encoder.fit_transform(X)

In [110]:
X

array([[3., 0., 0., 0., 0.],
       [3., 0., 0., 1., 0.],
       [3., 0., 0., 2., 0.],
       ...,
       [0., 3., 2., 0., 0.],
       [0., 3., 2., 1., 2.],
       [0., 3., 2., 2., 3.]])

In [111]:
X = pd.DataFrame(X, columns = ['maint','doors','lug_boot','safety','class'])

In [112]:
X

      maint  doors  lug_boot  safety  class
0       3.0    0.0       0.0     0.0    0.0
1       3.0    0.0       0.0     1.0    0.0
2       3.0    0.0       0.0     2.0    0.0
3       3.0    0.0       1.0     0.0    0.0
4       3.0    0.0       1.0     1.0    0.0
...     ...    ...       ...     ...    ...
1723    0.0    3.0       1.0     1.0    2.0
1724    0.0    3.0       1.0     2.0    3.0
1725    0.0    3.0       2.0     0.0    0.0
1726    0.0    3.0       2.0     1.0    2.0
1727    0.0    3.0       2.0     2.0    3.0

[1728 rows x 5 columns]

# Model Selection and Prediction

In [113]:
from sklearn.model_selection import train_test_split
print('Shape of X: {}'.format(X.shape))
print('Shape of y: {}'.format(y.shape))

Shape of X: (1728, 5)
Shape of y: (1728,)

In [114]:
y

0       3.0
1       3.0
2       3.0
3       3.0
4       3.0
       ...
1723    0.0
1724    0.0
1725    0.0
1726    0.0
1727    0.0
Name: buying, Length: 1728, dtype: float64

In [115]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print("Number transactions X_train dataset: ", X_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", X_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (1209, 5)
Number transactions y_train dataset:  (1209,)
Number transactions X_test dataset:  (519, 5)
Number transactions y_test dataset:  (519,)

In [123]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.30828516377649323

In [124]:
model.predict([[2.0, 2.0, 2.0, 2.0, 2.0]])

array([0.])

In this case, the buying price is predicted to be 'low'