In [83]:
import pandas as pd

In [84]:
df1 = pd.read_csv('dataset1.csv')

In [85]:
df2 = pd.read_csv('dataset2.csv')

In [86]:
df1[df1.price.isna()]
df2[df2.price.isna()]

Empty DataFrame
Columns: [name, price]
Index: []

In [87]:
df1[df1.name.isna()]

Empty DataFrame
Columns: [name, price]
Index: []

In [88]:
df2[df2.name.isna()]

     name                     price
112   NaN  Mr. Manuel Mcfarland Jr.
128   NaN         Mr. Brian Bradley
200   NaN          Mr. Trevor Smith
224   NaN        Mr. Tracy Davis MD
740   NaN            Mr. Jake Ortiz
770   NaN             Mr. James Gay
899   NaN      Mr. Kenneth Robinson
953   NaN          Mr. James Kaiser
988   NaN         Mr. Anthony Dixon
1014  NaN     Mr. Eddie Hendrix DDS
1346  NaN          Mr. Gregory Horn
1400  NaN        Mr. Donald Sanchez
1627  NaN            Mr. Tyler Love
1646  NaN          Mr. Joseph Scott
1662  NaN           Mr. David Jones
1771  NaN         Mr. Robert Spence
2298  NaN     Mr. Jesse Hawkins Jr.
2376  NaN             Mr. Paul Pope
2385  NaN        Mr. Charles Arroyo
2453  NaN           Mr. Alex Zamora
2618  NaN         Mr. Michael Evans
2655  NaN     Mr. Matthew Bailey MD
2866  NaN        Mr. Michael Vaughn
2984  NaN          Mr. Billy Morgan
3004  NaN          Mr. Michael Frey
3027  NaN          Mr. Jack Morales
3083  NaN        Mr. Michael Garcia
3278  NaN         Mr. Michael Brown
3334  NaN        Mr. Paul Porter MD
3382  NaN      Mr. Steven Hayes DDS
3411  NaN         Mr. Thomas Guzman
3539  NaN       Mr. Michael Maynard
3542  NaN  Mr. Christopher Mann PhD
3792  NaN          Mr. Jeffrey King
3829  NaN      Mr. Harold Reese PhD
3958  NaN         Mr. Justin Suarez
4008  NaN           Mr. Paul Walker
4197  NaN       Mr. Allen Hernandez
4214  NaN        Mr. Joshua Simmons

In [89]:
df1.dropna(subset=['name'],inplace=True)
df2.dropna(subset=['name'],inplace=True)

In [91]:
df1[df1.name.isna()]

Empty DataFrame
Columns: [name, price]
Index: []

In [92]:
df2[df2.name.isna()]

Empty DataFrame
Columns: [name, price]
Index: []

In [93]:
df1[['first_name','last_name']] = df1['name'].loc[df1['name'].str.split().str.len() == 2].str.split(expand=True)

In [94]:
df1.columns.isna()

array([False, False, False, False])

In [95]:
df2[['first_name','last_name']] = df2['name'].loc[df2['name'].str.split().str.len() == 2].str.split(expand=True)

In [96]:
df2.columns.isna()

array([False, False, False, False])

In [97]:
df1['price'] = df1['price'].astype('string')
df2['price'] = df2['price'].astype('string')

In [98]:
df1['price'].str.replace(r'^(0+)', '').fillna('0')
df2['price'].str.replace(r'^(0+)', '').fillna('0')

C:\Users\Bryan\AppData\Local\Temp/ipykernel_5468/476253799.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['price'].str.replace(r'^(0+)', '').fillna('0')
C:\Users\Bryan\AppData\Local\Temp/ipykernel_5468/476253799.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['price'].str.replace(r'^(0+)', '').fillna('0')

0       258.1809089
1        141.890534
2        293.373272
3       249.9479246
4        272.908659
           ...
4995    95.25395533
4996    205.3966853
4997    80.54737145
4998    93.20561606
4999     297.046886
Name: price, Length: 4961, dtype: string

In [99]:
df1['price'] = df1['price'].astype('float64')
df2['price'] = df2['price'].astype('float64')

In [100]:
df1['above_100'] = False
df1.loc[df1['price']>100,'above_100'] = True

In [101]:
df2['above_100'] = False
df2.loc[df2['price']>100,'above_100'] = True

In [102]:
df1.to_csv('dataset1_clean.csv')

In [103]:
df2.to_csv('dataset2_clean.csv')